body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  width: 450px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-style: solid;
  border-color: rgb(10, 161, 161);
  background-color: rgb(10, 161, 161);
}

.page-container {
  background-color: #ccc;
  width: 445px;
  height: 595px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.top-container {
  background-color: aqua;
  margin-top: 5%;
  display: flex;
  width: inherit;
  height: 0;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}

.title {
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6em;
  flex: 1;
  margin-left: 5%;
  color: rgba(0, 0, 0, 0.555);
}

.icon-container {
  padding-right: 5%;
}

.icon {
  font-size: 1.5em;
  flex: 2;
  padding-right: 5%;
}

.feature-container {
  margin-top: 8%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  padding-right: 5%;
}

.feature {
  margin-bottom: 5%;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 60px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.text {
  display: flex;
  justify-self: flex-start;
  margin-top: 4%;
  margin-left: 5%;
  font-size: 1.5em;
}

.add-card-container {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 2em;
}

.add-card {
  position: relative;
  bottom: 25%;
  margin-left: 5%;
}
