body{
    margin: 0;
    /*background-color: rgba(5, 4, 4, 0.733);*/
}

*{
    box-sizing: border-box;
}

.center-tweet
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tweet{
    width: 565px;
    height: 125px;
    border: greenyellow;
    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
    display: flex;
}

.avatar
{
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin: 15px 15px
}


.content
{
    margin-top: 3%;
}

.name
{
    font-weight: bold;
}

.handle
{
    margin-left: 5px;
    color: #8899a6;
}

.message
{
    margin-top: 5%;
}

.time
{
    padding-left: 0.3em;
    color: #8899a6;
}

.buttons 
{
    font-size: 1.3em;
    color: #aab8c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

.reply-button, .retweet-button,
.like-button, .more-options-button
{
  display: inline-block;
  letter-spacing: 10px;
}

.like-count, .retweet-count
{
  font-weight: bold;
  font-size: 20px;
}

